{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/12/2023 à 21:27 dans la catégorie politique</div>
        <div class="content"><img src="https://via.placeholder.com/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur eos eum ipsam totam
                vel?</p>
            <p>A adipisci atque deserunt dolorum fuga minima nemo placeat sapiente sed, sequi vel voluptas
                voluptatem?</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at consectetur, corporis cum delectus
                deserunt dolor earum eos eum ex exercitationem inventore ipsa ipsam maiores nam nesciunt nobis non odio,
                omnis optio possimus praesentium provident quas, rem sit vel vero voluptates! Ab, architecto est ipsam
                iusto natus reprehenderit tempora voluptatum?</p>
            <p>Aliquam atque beatae delectus earum excepturi in ipsam ipsum magnam minima nemo neque non possimus qui,
                reiciendis rerum sunt totam velit voluptates. Architecto asperiores consequatur corporis fugiat itaque,
                laboriosam non quisquam repellat velit voluptate. Assumenda debitis doloribus quidem sit tempore.
                Adipisci, cum eos harum libero magnam maiores natus saepe voluptatum.</p>
        </div>
    </article>
{% endblock %}